<body>
  <main>
    <section class="saudacoes">
      <h1>VMonitora</h1>
      <h2 class="bemvindo">Bem-vindo(a)! <span aria-hidden="true">;)</span> </h2>
      <p class="cta">Faça login para continuar.</p>
    </section>
    
    <section class="login">
      @if (possuiConta){
        <div class="login-box">
          <form class="form">
              <mat-form-field class="campos-formulario">
                <mat-label>Email</mat-label>
                <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="mensagemErroEmail"
                        placeholder="Ex. seuemail@provedor.com" name="email" [(ngModel)]="objetoFormLogin.email">
                @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
                  <mat-error>Formato inválido</mat-error>
                }
                @if (emailFormControl.hasError('required')) {
                  <mat-error>Email é <strong>obrigatório</strong></mat-error>
                }
              </mat-form-field>
    
              <mat-form-field class="campos-formulario">
                <mat-label>Senha</mat-label>
                <input type="password" matInput [formControl]="senhaFormControl" [errorStateMatcher]="mensagemErroSenha" name="senha" [(ngModel)]="objetoFormLogin.senha">
                @if (emailFormControl.hasError('required')) {
                  <mat-error>Senha é <strong>obrigatória</strong></mat-error>
                }
              </mat-form-field>
    
              <div class="pergunta">
                <h3>Ainda não possui conta? 
                <button class="link" (click)="possuiConta = false">Cadastre-se.</button></h3>
              </div>
              
              <input (click)="login()" class="botao-login" type="submit" value="Login">
          </form>
        </div>  
      }
  
      @if (!possuiConta) {
        <div class="login-box">
          <form class="form">
              <mat-form-field class="campos-formulario">
                <mat-label>Email</mat-label>
                <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="mensagemErroEmail"
                        placeholder="Ex. seuemail@provedor.com" name="email" [(ngModel)]="objetoFormCadastro.email">
  
                @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
                  <mat-error>Formato inválido</mat-error>
                }
                @if (emailFormControl.hasError('required')) {
                  <mat-error>Email é <strong>obrigatório</strong></mat-error>
                }
              </mat-form-field>
  
              <mat-form-field class="campos-formulario">
                <mat-label>Senha</mat-label>
                <input type="password" matInput [formControl]="senhaFormControl" [errorStateMatcher]="mensagemErroSenha" 
                        name="senha" [(ngModel)]="objetoFormCadastro.senha">
  
                @if (emailFormControl.hasError('required')) {
                  <mat-error>Senha é <strong>obrigatória</strong></mat-error>
                }
              </mat-form-field>
  
              <div class="pergunta">
                <h3>Já possui possui conta? 
                <button class="link" (click)="possuiConta = true">Faça Login.</button></h3>
              </div>
  
              <input class="botao-login" type="submit" value="Cadastrar" (click)="cadastrar()">
          </form>
        </div>
      }
  
    </section>
  </main>
</body>